body {
  background-color: var(--color-bg);
}
header {
  height: auto;
  color: #9b0c0c;
  justify-content: center;
  align-items: center;
}

nav ul {
  border: 4px solid var(--border-color);
}

main {
  background-color: var(--color-bg);
  margin-top: var(--top-margin);
  border-radius: var(--border-radius);
}

.hero img {
  width: 100%;
}
