nav ul {
  border: 4px solid var(--border-color);
}
body {
  background: #f4f2e9;
}

.formular {
  max-width: 400px;
  margin: 0 auto;
}
.formular-tekst {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 38px;
  font-weight: bold;
}
.line1 {
  margin-top: 60px;
}
.line2 {
  margin-bottom: 60px;
}
.line1,
.line2 {
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.formular-boks {
  background-color: #cfc9b3; /* Vælg en farve, der matcher billedet */
  padding: 20px;
  border-radius: 22px; /* Lidt afrundede hjørner, hvis det ønskes */
  max-width: 400px; /* Sørg for, at den ikke fylder hele skærmen */
  margin: 0 auto; /* Centrerer formularen */
  display: flex;
  flex-direction: column;
}
