/* grids */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.about-text {
  grid-area: 1/2;
  width: 400px;
}

.goals-text {
  grid-area: 1/1;
  width: 400px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

ul {
  width: auto;
  height: 120;
  padding: 20px;
  margin: 20px;
  border-radius: var(--border-radius);
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: var(--logo-width);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.title-section {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-section img {
  width: 150px;
  margin-right: 20px;
}
