header {
  background: linear-gradient(to bottom right, #f4f2e9 70%, #9b0c0c 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #f4f2e9 70%, #9b0c0c 50%) bottom left / 50% 50% no-repeat,
    linear-gradient(to top left, #f4f2e9 70%, #9b0c0c 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #f4f2e9 70%, #9b0c0c 50%) top right / 50% 50% no-repeat;
  width: 100%;
  height: 10em;
}
header {
  height: auto;
  color: #9b0c0c;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  margin-top: -2em;
  height: 10em;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

ul {
  width: auto;
  padding: 20px;
  margin: 20px;
  border-radius: var(--border-radius);
  padding-inline-start: 90px;
  padding-inline-end: 90px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: thin;
  font-size: 15px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  font-family: "mainard", sans-serif;
}

.logo img {
  width: 180px;
  height: auto;
  margin-left: -3em;
}

/* login knappen med blå hover + en dejlig streg... its gonna be liiittt */
button#loginBtn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 15px;
  font-family: "mainard", sans-serif;
}
button#loginBtn:hover {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
button#loginBtn::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -4px;
  width: 0;
  height: 1.5px;
  background-color: #0b3379;
  transition: 0.3s ease;
}
button#loginBtn:hover::after {
  width: 100%;
}
button#loginBtn:hover {
  color: #0b3379;
}
/* header i boksen, same shiii yayyyy */
nav ul li a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

header nav li a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -4px;
  width: 0;
  height: 1.5px;
  background-color: #0b3379;
  transition: 0.3s ease;
}

header nav li a:hover::after {
  width: 100%;
}

header nav li a:hover {
  color: #0b3379;
}
