a {
  color: #1a0dab;
  text-decoration: none;
  font-size: 36px;
  width: auto;
  height: auto;
  margin: 50px;
  padding: 35px;
  border: 2px solid #1a0dab;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button a:hover {
  background-color: #1a0dab;
  color: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

button a:active {
  background-color: #0c0786;
  border-color: #0c0786;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: linear-gradient(135deg, #f0f0f0, #dcdcdc);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0e0e0;
}

main {
  text-align: center;
}
